@model BarShowroom.Models.BarShowroomMenuItem

<a href="@Model.Name" class="square-menuitem">
    <p class="square-menuitem-name">@Model.Name</p>
    <p class="square-menuitem-title">@Model.Title</p>
</a>